<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator Adriana</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .container {
            /*display: flex;*/
            /*!*justify-content: space-between;*!*/
            /*!*text-align:justify*!*/
        }

        .btn {
            min-width: 30%;
            margin: .75rem .5rem;
        }

    </style>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel">
        <a class="navbar-brand" href="{% url 'Home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'conference_rooms_reservations:all_rooms' %}">All Rooms</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'conference_rooms_reservations:add_room' %}">Add new room</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'conference_rooms_reservations:room_search' %}">Room Search</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row mb-2">
        <div class="col-md-3">
            <div class="card flex-md-row mb-2 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                    <table class="table room-type">
                        <thead><h4>Dodaj pomieszczenie:</h4></thead>
                        <tr>
                            <td class="room-button btn btn-info">Pomieszczenie</td>
                        </tr>
                        <tr>
                            <td class="bathroom-button btn btn-secondary">Łazienka</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table>
                <tbody class="room-section"></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Element pomieszczenia
        function room_type(name) {
            let number = 1
            var default_room = $(
                '<div class="card flex-md-row mb-2 box-shadow h-md-250">' +
                '<div class="card-body d-flex flex-column align-items-center">' +
                '<table class="table-result">' +
                `<thead>${name} #${number}</thead>` +
                '<tbody>' +
                '<tr class="main-room-element">' +
                '<tr><td><label for="floor">pow Podłogi:</label></td><td><input id="floor" type="number" value="0"></td></tr>' +
                '<tr><td><label for="wall">pow Ścian:</label></td><td><input id="wall" type="text" value="0"></td></tr>' +
                '</tr>' +
                '<tr>' +
                '<td class="delete-room-button btn btn-primary">Usuń pomieszczenie</td>' +
                '</tr>' +
                '</tbody>' +
                '</table>' +
                '</div>' +
                '</div>'
            );
            return default_room
        }

        // Obluga przyciskow dodawania pomieszczen
        $('.btn').click(function () {
            if ($(this).attr("class") === "room-button btn btn-info") {

                $(".room-section").append(room_type("Pomieszczenie"))
            } else if ($(this).attr("class") === "bathroom-button btn btn-secondary") {
                $(".room-section").append(room_type("Łazienka"))
            }
        })


        // Przycisk usuwajacy pomieszczenie
        $(".room-section").on("click", ".delete-room-button", function (e) {
            $(e.target).closest("div").parent().remove()
        });

        $(".room-section").on("blur", "#floor", function (e) {
            let floor_value = $(e.target).val()
            console.log($(e.target).closest("tr").next().find("#wall").val(floor_value*5))
        })

    })
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>